/* Main Site Design */
* {
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	overflow:auto;
}
@font-face {
	font-family:Enso;
	src:url(Enso.ttf);
}
body {
	width:auto;
	height:auto;
	max-height:5000px;
	max-width:3500px;
	min-height:50px;
	min-width:100px;
	/*background-color:#181818;*/
	background-image: linear-gradient(to top right, #181818 , #2e3233 , #000000);
	/*
	background-image: url('../../images/webpage/body.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	*/
	padding: 0;
	margin: 0;
}
header {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:10px;
	min-width:100px;
	background-color:#333;
	color:white;
	margin:0;
	padding:0;
	}
main {
	width:auto;
	height:auto;
	max-height: 2400px;
	max-width: 3500px;
	min-height:30px;
	min-width:100px;
}
footer {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:10px;
	min-width:100px;
	background-color:#333;
	color:white;
}
nav {
	padding: 5px 0px;
	padding-bottom: 10px;
}
img {
	width:40%;
	height:5%;
}
hr {
	margin:0;
	padding:0;
}
/* End of Main Site Design */
/* Start of Tab Classes */
.tabitem {
	color:black;
    background-color:#ddd; 
	list-style-type:none;
	list-style-position:inside;
	padding: 5px 0px;
	margin: 0px;
	text-align:left;
	cursor:pointer;
}
.selector div {
	display:none;
}
.selector:hover div {
	display:block;
	background-color:#ddd;
	cursor:pointer;
}
.selector:hover div:first-child {
	padding-top:10px;
}
.selector ul {
	list-style-type:none;
	padding:0;
	margin:0;
	border:0;
}
.selector {
	cursor:pointer;	
}
/* End of Tab Classes */
/* Start of the topnav Classes */
.topnav {
	background-color:#333;
	overflow:hidden;
}
.topnav a, div a {
	float:left;
	display:block;
	color:#f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
	font-size:17px;
}
.topnav a:hover {
	color:black;
	background-color:#ddd;
}
.topnav a.active {
	color:white;
	background-color: #4CAF50;
}
.topnav .icon {
	display:none;
}
@media screen and (max-width: 1000px) {
	.topnav a:not(:first-child) {display:none;}
	.topnav a.icon {
		float:right;
		display:block;
	}
}
@media screen and (max-width: 1000px) {
	.topnav.responsive {position:relative;}
	.topnav.responsive a.icon {
		position:absolute;
		top:0;
		right:0;
	}
	.topnav.responsive a {
		float: none;
		display:block;
		text-align:left;
	}
}
/* End of the topnav classes */
/* Start of onload animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}  
.headanimation {
	animation: 2s ease-in 0s 1 slideInFromLeft;
}
.quoteanimation {
	text-align:center;
	animation: 2s ease-in 0s 1 slideInFromLeft;
	padding:10px;
	margin:0;
	display:block;
}
.quoteanimation q {
	font-size:25px;
	color:#3d96f4;
	font-family:Enso;
	text-shadow:2px 2px 2px white;
}
/* End of onload animation */
/* Start of General Classes & Ids */
/* Classes */
.pclass1 {
	padding-left:15px;
	padding: 5px 5px;
	width:90%;
	height:10%;
	letter-spacing:1px;
	font-size:20px;
}
/* Ids */
#headmage {
	text-align:center;
	display:block;
	margin:0;
	background-color:#808080;
	font-size:45px;
	color:red;
	font-family:Enso;
	text-shadow:3px 3px 4px white;
}
/* End of General Classes & Ids */











