* {
	font-family:Arial;
}
body {
	text-align:center;
	background-image: url('images/body.JPG'); /* former color was rgb(192,192,192); */
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding:0;
	margin:0;
	min-height:50px;
	min-width:50px;
	height: auto;
	width: auto;
	max-height:1500px;
	max-width:5000px;
}
button {
	border: 2px solid white;
	text-align:center;
	margin-left:3px;
	color:blue;
	font-size:15px;
	height:30px; /* default = 30px; */
	width:135px; /* default = 135px; */
	max-height:180px;
	max-width:810px;
	min-height:30px;
	min-width:75px;
	margin-top:7px;
}
select {
	width:135px;
	height:30px;
	color:blue;
	border:2px solid white;
	text-align:center;
	font-size:15px;
	max-height:180px;
	max-width:810px;
	min-height:30px;
	min-width:75px;
	margin-top:7px;
}	
Header {
	background-image: url('images/header.JPG'); /* former color was lightgreen */
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
}
Main {
	background-image: url('images/main.JPG');	/* former color was lightblue */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
Footer {
	text-align:left;
	background-image: url('images/footer.JPG'); /* former color was red */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
img {
	width:125px;
	height:85px;
}
h1 {
	display:inline-block;
}
p {
	color:white;
}
ul {
	list-style-type:none;
}
ol {
	list-style-type:none;
}
/* All ids from all htmls */
#selectedbutton {
	background-color:green;
	color:white;
}
/* All classes for all htmls */
.DIB {
	display:inline-block;
}
.langflagen {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.tabs {
	border: 2px solid white;
	background-color: white;
	width:135;
	height:23;
	text-align:center;
	padding-bottom:1px;
	padding-top:3px;
	margin-right:3px;
	min-height:23px;
	min-width:75px;
	max-height:138px;
	max-width:510px;
	font-size:15px;
	color:blue;
}
.tabs div {
	display:none;
}
.tabs:hover div {
	display:block;
	background-color:lightblue;
	z-index:1;
	position: absolute;
	border: 2px solid blue;
}
.itemlist {
	border: 2px solid blue;
	padding-top:3px;
	text-align:center;
	min-width:135px;
	min-height:20px;
	height:auto;
	width:auto;
	max-height:120px;
	max-width::635px;
}
/* CSS classes for stickers */
.sticks {
	width: 95px;
	height: 50px;
	margin-top: 15px;
	display:inline-block;
}
.gsticks {
	width: 95px;
	height: 75px;
	margin-top: 15px;
	display:inline-block;
}
.csticks {
	width:125px;
	height:75px;
	margin-top: 15px;
	display:inline-block;
}
/* CSS classes for signs */
.msigns {
	width:155px;
	height:120px;
}
