/* Main Site Design */
* {
	//font-family:BoomBox;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	overflow:auto;
}
body {
	width:auto;
	height:auto;
	max-height:5000px;
	max-width:3500px;
	min-height:50px;
	min-width:100px;
	background-color:#181818;
	/*
	background-image: url('../../images/webpage/body.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	*/
	padding: 0;
	margin: 0;
}
header {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:10px;
	min-width:100px;
	background-color:#333;
	color:white;
	margin:0;
	padding:0;
	}
main {
	width:auto;
	height:auto;
	max-height: 2400px;
	max-width: 3500px;
	min-height:30px;
	min-width:100px;
}
footer {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:10px;
	min-width:100px;
	background-color:#333;
	color:white;
}
nav {
	padding: 5px 0px;
	padding-bottom: 10px;
}
img {
	width:40%;
	height:5%;
}
hr {
	margin:0;
	padding:0;
}
/* End of Main Site Design */
/* Start of Tab Classes */
.tabitem {
	color:black;
    background-color:#ddd; 
	list-style-type:none;
	list-style-position:inside;
	padding: 5px 0px;
	margin: 0px;
	text-align:left;
	cursor:pointer;
}
.selector div {
	display:none;
}
.selector:hover div {
	display:block;
	background-color:#ddd;
	cursor:pointer;
}
.selector:hover div:first-child {
	padding-top:10px;
}
.selector ul {
	list-style-type:none;
	padding:0;
	margin:0;
	border:0;
}
.selector {
	cursor:pointer;	
}
/* End of Tab Classes */
/* Start of the topnav Classes */
.topnav {
	background-color:#333;
	overflow:hidden;
}
.topnav a, div a {
	float:left;
	display:block;
	color:#f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
	font-size:17px;
}
.topnav a:hover {
	color:black;
	background-color:#ddd;
}
.topnav a.active {
	color:white;
	background-color: #4CAF50;
}
.topnav .icon {
	display:none;
}
@media screen and (max-width: 1000px) {
	.topnav a:not(:first-child) {display:none;}
	.topnav a.icon {
		float:right;
		display:block;
	}
}
@media screen and (max-width: 1000px) {
	.topnav.responsive {position:relative;}
	.topnav.responsive a.icon {
		position:absolute;
		top:0;
		right:0;
	}
	.topnav.responsive a {
		float: none;
		display:block;
		text-align:left;
	}
}
/* End of the topnav classes */
/* Start of onload animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}  
.headanimation {
	background-color:#808080;
	padding: 10px 0px;
	text-align:center;
	animation: 2s ease-in 0s 1 slideInFromLeft;
	text-shadow:2px 2px white;
	font-family:BoomBox;
	margin:0;
}
.quoteanimation {
	text-align:center;
	animation: 2s ease-in 0s 1 slideInFromLeft;
	text-shadow:2px 2px #378AEC;
	padding:10px;
	margin:0;
	//letter-spacing:2px;
}
.quoteanimation p {
	display:none;
}
/* End of onload animation */
/* Start of Slideshow 
.sshow {
	width:75%;
	height:3%;
	text-align:center;
	position: relative;
	margin:auto;
	display:block;
	padding-bottom:6px;
}
.sshow * {
	box-sizing:border-box;
}
.mySlides:not(:first-child) {
	display: none;
}
.mySlides img {
	width:75%;
	height:3%;
}
/*
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
/* End of Slideshow */
/* Start of General Classes & Ids */
/* Classes */
.pclass1 {
	padding-left:15px;
	padding: 5px 5px;
	width:90%;
	height:10%;
	letter-spacing:1px;
	font-size:17px;
}
/* Ids */
#aboutus {	
}
/* End of General Classes & Ids */











