body {
	width:auto;
	height:auto;
	max-height:5000px;
	max-width:3500px;
	min-height:250px;
	min-width:300px;
	background-image: url('../../images/webpage/body.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}
header {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:50px;
	min-width:300px;
	background-image: url('../../images/webpage/header.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	padding: 0;
	margin: 0;
}
main {
	width:auto;
	height:auto;
	max-height: 2400px;
	max-width: 3500px;
	min-height:150px;
	min-width:300px;
}
footer {
	width:auto;
	height:auto;
	max-height:500px;
	max-width:3500px;
	min-height:50px;
	min-width:300px;
	background-image: url('../../images/webpage/footer.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}
table {
	width:10%;
	height:5%;	
}
/* tab classes */
.tabitem {
	color:white;
	border: 1px dashed white;
	list-style-type:none;
	list-style-position:absolute;
	padding: 4px;
	margin: 2px;
}
.selector div {
	display:none;
}
.selector:hover div {
	display:block;
	position:absolute;
	background-color:black;
	z-index:1;
	border:2px solid white;
}
.selector {
	list-style-position:absolute;
	list-style-type:none;
	background-color:white;
	padding:0;
	margin:0;
}
	