@media and screen (max-width:600px) {
	body {
		max-width:600px;
		max-height:1050px;
		height:auto;
		width:auto;
		min-height:350px;
		min-width:120px;
	}
	header {
		max-height:150px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:60px;
		min-width:120px;
	}
	main {
		max-height:800px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:240px;
		min-width:120px;
	}
	footer {	
		max-height:100px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:50px;
		min-width:120px;
	}
}