@media and screen (max-width:600px) {
	body {
		max-width:600px;
		max-height:5050px;
		height:auto;
		width:auto;
		min-height:1000px;
		min-width:120px;
	}
	header {
		max-height:1050px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:300px;
		min-width:120px;
	}
	main {
		max-height:4500px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:500px;
		min-width:120px;
	}
	footer {	
		max-height:500px;
		max-width:600px;
		height:auto;
		width:auto;
		min-height:200px;
		min-width:120px;
	}
}